*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-family: 'Playfair Display', serif;
}

::-webkit-scrollbar{
  width: 11px;
  // background-color: #181617;
  background-color: #726f70;
  // background-color: #ecebeb;
}

::-webkit-scrollbar-thumb{
  // background-color: rgb(59, 57, 57);
  background-color: #052840;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #C9AC7A;
}

.link{
  color: #000;
  text-decoration: none;
}

.container{
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}


// ~~ Home-page -- start ~~

// VideoHeader -- start
.videoHeader{
  max-height: 100vh;
  overflow: hidden;
  position: relative;

  &::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.videoContainer{
  position: relative;
  z-index: 1;

  .videoMedia{
    background-size: cover;
  }
}

.headerTitleContainer{
  z-index: 50;
  position: absolute;
  top: 300px;
  left: 470px;

  .headerLineTop{
    width: 300px;
    height: 2px;
    background-color: #C9AC7A;
    margin-left: 117px;
  }

  .headerTitle{
    width: 572px;
    text-align: center;
    font-size: 64px;
    line-height: 60px;
    color: #C9AC7A;
  }

  .headerLogoBottomContainer{
    margin: 15px auto 0 -60px;
    width: 690px;
    display: flex;
    z-index: 55;

    .headerLineBottomLeft{
      width: 310px;
      height: 2px;
      background-color: #C9AC7A;
      margin: 23px 10px 0 0;
      animation-name: animationLineBottomLeft;
      animation-duration: 3s;
    }

    // @keyframes animationLineBottomLeft {
    //   0%{
    //     width: 0;
    //   }

    //   100%{
    //     width: 310px;
    //   }
    // }

    .headerLineLogo{
      animation-name: animationHeaderLogo;
      animation-duration: 3s;
    }

    // @keyframes animationHeaderLogo {
    //   0%{
    //     opacity: 0;
    //   }

    //   100%{
    //     opacity: 1;
    //   }
    // }

    .headerLineBottomRight{
      width: 310px;
      height: 2px;
      background-color: #C9AC7A;
      margin: 23px 0 0 10px;
      animation-name: animationLineBottomRight;
      animation-duration: 3s;
    }

    // @keyframes animationLineBottomRight {
    //   0%{
    //     width: 0;
    //   }

    //   100%{
    //     width: 310px;
    //   }
    // }

    
  }

  
}


// VideoHeader -- end

.apartmentsContainer{
  display: flex;
}

.apartmentsBox,
.penthousesBox{
  width: 585px;
  height: 300px;
  border: 5px solid #C9AC7A;
}

.apartmentsBox{
  background-image: url('../public/img/apartmentsBoxContainer.jpg');
}

.apartmentsInfo{
  width: 577px;
  height: 290px;
  margin-right: -1px;
  background-color: rgba(255, 255, 255, 1.0);
  position: relative;
  transition: all .4s;

  &:hover{
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
  }

  .apartmentsTitle{
    font-size: 48px;
    line-height: 50px;
    position: absolute;
    top: 30px;
    left: 35px;

    .apartmentsTitleSpan{
      font-size: 80px;
    }
  }

  .apartmentAreaContainer{
    width: 223px;
    height: 93px;
    line-height: 25px;
    border: 2px solid #C9AC7A;
    position: absolute;
    right: 40px;
    bottom: 23px;

    .apartmentAreaInfo{
      padding: 12px 10px 10px 10px;

      span{
        font-size: 36px;
        margin-left: 6px;
      }

      p{
        font-size: 21px;
        margin-left: 2px;
      }
    }
  }
}

.penthousesBox{
  background-image: url('../public/img/penthouseBoxContainer.jpg');
}

.penthousesInfo{
  width: 577px;
  height: 290px;
  margin-left: -1px;
  background-color: rgba(255, 255, 255, 1.0);
  position: relative;
  transition: all .4s;

  &:hover{
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
  }

  .penthousesTitle{
    font-size: 48px;
    line-height: 50px;
    position: absolute;
    top: 30px;
    left: 35px;

    .penthousesTitleSpan{
      font-size: 80px;
    }
  }

  .penthousesAreaContainer{
    width: 235px;
    height: 93px;
    line-height: 25px;
    border: 2px solid #C9AC7A;
    position: absolute;
    right: 40px;
    bottom: 23px;

    .penthousesAreaInfo{
      padding: 12px 10px 10px 10px;

      span{
        font-size: 36px;
      }

      p{
        font-size: 20px;
        margin-left: 4px;
      }
    }
  
  }
}

// Benefits-buildings -- start

.benefitsBuildingsTitle{
  margin: 40px 0 40px 30px;

  .titleLineTop{
    width: 480px;
    height: 2px;
    background-color: #C9AC7A;
  }

  h1{
    font-size: 48px;
    color: #C9AC7A;
    margin: -9px 0 0 8px;
  }

  .titleLinebottom{
    width: 680px;
    height: 2px;
    background-color: #C9AC7A;
  }
}

.benefitsBuildingsItem{
  width: 983px;
  height: 342px;
  border: 5px solid #C9AC7A;
  margin-bottom: 40px;

  &:nth-child(even) {
    margin-left: 180px;
  }

  .benefitsWrapper{
    width: 625px;
    height: 272px;
    background-color: #052840;
    border: 3px solid #C9AC7A;
    margin: 30px 0 35px 30px;
    position: relative;

    &:nth-child(even) {
      margin: 35px -130px 35px 0;
    }

    .benefitsTitle{
      position: absolute;
      color: #C9AC7A;
      font-size: 40px;
      font-weight: bold;
      line-height: 42px;
      top: 62px;
    }

    .benefitsTitle1,
    .benefitsTitle3{
      left: 30px;
    }

    .benefitsTitle2{
      width: 313px;
      text-align: right;
      right: 30px;
    }

    .benefitsTitle3{
      width: 342px;
    }

    .benefitsTitle4{
      width: 300px;
      text-align: right;
      top: 40px;
      right: 30px;
    }

    .benefitsText{
      font-size: 18px;
      line-height: 24px;
      color: #fff;
      position: absolute;
      top: 158px;
    }

    .benefitsText1{
      width: 368px;  
      left: 30px;
    }

    .benefitsText2{
      width: 343px;
      right: 30px;
      text-align: right;
    }

    .benefitsText3{
      width: 245px;
      left: 30px;
    }

    .benefitsText4{
      top: 178px;
      width: 245px;
      right: 30px;
      text-align: right;
    }

    .benefitsImgContainer1{
      width: 247px;
      margin: -16px 0 0 500px;
      position: relative;

      .benefitsImgItem1,
      .benefitsImgItem2{
        position: absolute;
      }
      .benefitsImgItem1{
        top: 120px;
        right: 178px;
        z-index: 100;
      }
    }

    
  }

  .benefitsWrapper2,
  .benefitsWrapper4{
    margin: 30px 0 35px 318px;
  }

  .benefitsImgContainer2{
    margin: 19px 0 0 -205px;
  }

  .benefitsImgContainer3{
    margin: 19px 0 0 438px;
  }

  .benefitsImgContainer4{
    margin: 77px 0 0 -228px;
  }
}

// Benefits-buildings -- end

// ~~ Home-page -- end ~~

// ~~ AboutUs-page -- start ~~

.aboutUsTitle{
  padding: 120px 0 40px 30px;

  .titleLineTop{
    width: 93px;
    height: 2px;
    background-color: #C9AC7A;
  }

  h1{
    font-size: 48px;
    color: #C9AC7A;
    margin: -9px 0 0 8px;
  }

  .titleLinebottom{
    width: 160px;
    height: 2px;
    background-color: #C9AC7A;
  }
}

.aboutUsContainer{

  .aboutUsContainerTitle{
    font-size: 30px;
  }
}

// ~~ AboutUs-page -- end ~~


// ~~ Apartments-page -- start ~~



// ~~ Apartments-page -- end ~~

.apartmentsContentTitle{
  padding: 120px 0 40px 30px;

  .titleLineTop{
    width: 193px;
    height: 2px;
    background-color: #C9AC7A;
  }

  h1{
    font-size: 48px;
    color: #C9AC7A;
    margin: -9px 0 0 8px;
  }

  .titleLinebottom{
    width: 313px;
    height: 2px;
    background-color: #C9AC7A;
  }
}

.cardApartmentsContainer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 60px;
  margin: 10px auto 40px auto;
}

// ~~ Penthouses-page -- start ~~

.penthousesContentWrapper{
  padding: 10px 0 40px 0;
}

.penthousesContentTitle{
  padding: 120px 0 40px 30px;

  .titleLineTop{
    width: 193px;
    height: 2px;
    background-color: #C9AC7A;
  }

  h1{
    font-size: 48px;
    color: #C9AC7A;
    margin: -9px 0 0 8px;
  }

  .titleLinebottom{
    width: 313px;
    height: 2px;
    background-color: #C9AC7A;
  }
}

.cardApartmentsContainer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 60px;
  margin: 10px auto 40px auto;
}

// ~~ Penthouses-page -- end ~~


// ~~ ConstructionProgress -- start ~~

.constructionProgressTitle{
  padding: 120px 0 40px 30px;

  .titleLineTop{
    width: 310px;
    height: 2px;
    background-color: #C9AC7A;
  }

  h1{
    font-size: 48px;
    color: #C9AC7A;
    margin: -9px 0 0 8px;
  }

  .titleLinebottom{
    width: 500px;
    height: 2px;
    background-color: #C9AC7A;
  }
}

.progressContainer{
  margin: 25px 0;
}

.progressBox{
  display: flex;
}

.circleYear{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #C9AC7A;
  border: 2px solid #000;

  p{
    font-size: 48px;
    margin: 24px 0 0 13px;
  }
}

.progressBoxText{
  margin: -18px 0 0 25px;


  .progressBoxTitle{
    font-size: 50px;
    font-weight: bold;
    color: #C9AC7A;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
  }

  p{
    font-size: 36px;
    line-height: 40px;
    width: 900px;
  }
}

.circleLine{
  width: 3px;
  height: 100px;
  background-color: #000;
  margin: 0 0 0 63px;
}

// ~~ ConstructionProgress -- end ~~